<h3 class="subtitle is-3">Próximos <span class="is-hidden-mobile">partidos</span>

  <button class="button is-pulled-right" (click)="createPartido()">
    <span class="icon">
    	<i class="fas fa-plus"></i>
    </span>
    <span>Crear partido</span>
  </button>

</h3>

<div class="table-container">
	<table class="table is-fullwidth is-hoverable" style="cursor:pointer">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cancha</th>
				<th>Fecha</th>
				<th>Jugadores</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="!partidosProximos">
				<td colspan="2"><i class="fas fa-spinner"></i> Cargando partidos...</td>
			</tr>
			<tr *ngFor="let partido of partidosProximos" (click)="goToPartido(partido.id)">
				<td>{{ partido.data.nombre }}</td>
				<td>{{ partido.lugar.nombre }}</td>
				<td>{{ partido.data.fecha.seconds * 1000 | date:'EEEE, dd \'de\' MMMM \'a las\' HH:mm' : '' : 'es-AR' }}</td>
				<td *ngIf="partido.data.jugadores">{{ partido.data.jugadores.length }} / 10</td>
			</tr>
		</tbody>
	</table>
</div>

<h3 class="subtitle is-3">Partidos pasados</h3>

<div class="table-container">
	<table class="table is-fullwidth is-hoverable" style="cursor:pointer">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cancha</th>
				<th>Fecha</th>
				<th>Jugadores</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="!partidosYaJugados">
				<td colspan="2"><i class="fas fa-spinner"></i> Cargando partidos...</td>
			</tr>
			<tr *ngFor="let partido of partidosYaJugados" (click)="goToPartido(partido.id)">
				<td>{{ partido.data.nombre }}</td>
				<td>{{ partido.lugar.nombre }}</td>
				<td>{{ partido.data.fecha.seconds * 1000 | date:'dd-MM-yyyy HH:mm' }}</td>
				<td *ngIf="partido.data.jugadores">{{ partido.data.jugadores.length }} / 10</td>
			</tr>
		</tbody>
	</table>
</div>

<form #cForm="ngForm" [formGroup]="createPartidoForm" (ngSubmit)="submitPartido(cForm)">
<div class="modal" [className]="this.showCreateModal ? 'modal is-active' : 'modal'">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
	<header class="modal-card-head">
	  <p class="modal-card-title">Crear partido</p>
	  <button class="delete" type="button" (click)="closeModal()" aria-label="close"></button>
	</header>
	<section class="modal-card-body">
		<div class="field">
		  <label class="label">Nombre</label>
		  <div class="control">
			<input class="input" type="text" [class.is-danger]="nombre.invalid && (nombre.dirty || nombre.touched)" formControlName="nombre">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Fecha</label>
		  <div class="control">
			<input class="input" type="date" min="{{ minDate | date: 'yyyy-MM-dd' }}" [class.is-danger]="fecha.invalid && (fecha.dirty || fecha.touched)" formControlName="fecha">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Hora</label>
		  <div class="control">
			<input class="input" type="time" [class.is-danger]="hora.invalid && (hora.dirty || hora.touched)" formControlName="hora">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Lugar</label>
		  <div class="select">
			<select formControlName="cancha">
				<option *ngFor="let cancha of canchas" value="{{ cancha.id }}">{{ cancha.data.nombre }} ({{ cancha.data.direccion}})</option>
			</select>
		  </div>
		</div>

		<div class="field">
		  <div class="control">
			<label class="checkbox">
			  <input type="checkbox" (change)="toggleAddMe()" formControlName="juega">
			   Agregarte automáticamente como jugador
			</label>
		  </div>
		</div>

		<div class="field" *ngIf="isJuegaChecked">
		  <label class="label">Tu nombre</label>
		  <div class="control">
			<input class="input" [class.is-danger]="tag.invalid && (tag.dirty || tag.touched)" type="text" formControlName="tag">
		  </div>
		</div>
	</section>
	<footer class="modal-card-foot">
	  <button class="button is-success" type="submit" [disabled]="!createPartidoForm.valid">Guardar</button>
	  <button class="button" type="button" (click)="closeModal()">Cancelar</button>
	</footer>
  </div>
</div>
