<div class="table-container">
	<table class="table is-fullwidth is-hoverable">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Dirección</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="!canchas">
				<td colspan="2"><i class="fas fa-spinner"></i> Cargando canchas...</td>
			</tr>
			<tr *ngFor="let cancha of canchas">
				<td>{{ cancha.data.nombre }}</td>
				<td>{{ cancha.data.direccion }}</td>
				<td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ cancha.data.direccion }},+Santa+Fe,+Santa+Fe,+Argentina"><i class="fas fa-map-marked-alt"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>
