<h1 class="subtitle is-1">Registrarse</h1>
<h5 class="subtitle is-5">¿Ya tenés una cuenta? <a routerLink="/iniciar-sesion">Iniciá sesión</a></h5>

<article class="message is-danger" *ngIf="this.errorMessage != null">
    <div class="message-body">{{ this.errorMessage }}</div>
</article>

<form #rForm="ngForm" [formGroup]="registerForm" (submit)="tryRegister()">
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" formControlName="email"
                   [class.is-danger]="email.invalid && (email.dirty || email.touched)" type="email" placeholder="Email">
            <span class="icon is-small is-left">
				<i class="fas fa-envelope"></i>
			</span>
        </div>
    </div>

    <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
            <p class="control has-icons-left">
                <input class="input" type="password" autocomplete
                       [class.is-danger]="password.invalid && (password.dirty || password.touched)"
                       placeholder="Password" formControlName="password">
                <span class="icon is-small is-left">
				  <i class="fas fa-lock"></i>
				</span>
            </p>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" [disabled]="!registerForm.valid" class="button is-link is-light">Registrarse</button>
        </div>

        <div class="control">
            <button type="button" class="button is-fullwidth is-info is-outlined" (click)="tryGoogleRegister()">
			    <span class="icon is-medium">
			      <i class="fab fa-google"></i>
			    </span>
                <span>Iniciar sesión con Google</span>
            </button>
        </div>
    </div>
</form>
