<article class="message is-danger" *ngIf="(this.loaded && this.partido == null) || this.notFound == true">
  <div class="message-header">
    <p>Partido no encontrado</p>
  </div>
  <div class="message-body">
    El partido solicitado no se encontró. Tal vez fue borrado previamente...
  </div>
</article>

<div *ngIf="!this.loaded"><progress class="progress is-large is-info" max="100">25%</progress></div>
<div *ngIf="this.loaded">
	<div *ngIf="this.partido != null">

		<div class="columns">
			<div class="column is-one-third">
				<div class="card">
					<div *ngIf="this.lugar">
						<iframe width="600" height="450" frameborder="0" style="border:0" [src]="this.lugar.embed" allowfullscreen></iframe> 
					</div>
					<header class="card-content" *ngIf="this.lugar">
						<strong>{{ lugar.nombre }}</strong>, <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ lugar.direccion }},+Santa+Fe,+Santa+Fe,+Argentina">{{ lugar.direccion }}</a>
					</header>
					<header class="card-content" *ngIf="!this.lugar">
						<progress class="progress is-small" max="100">15%</progress>
					</header>
					<footer class="card-footer" style="padding:20px 15px">
						{{ partido.fecha.seconds * 1000 | date:'EEEE, dd \'de\' MMMM \'a las\' HH:mm' : '' : 'es-AR' }}
					</footer>
				</div>
				<div class="has-text-right" style="padding:20px 0">
					<a class="button is-success is-small" style="margin-right:10px" target="_blank" [href]="sharerLink">
						<span class="icon is-small">
							<i class="fab fa-whatsapp"></i>
						</span>
						<span>Compartir</span>
					</a>

					<button class="button is-danger is-small" (click)="deletePartido()" *ngIf="this.getCurrentUserId() == this.partido.owner">
						<span class="icon is-small">
							<i class="fas fa-times"></i>
						</span>
						<span>{{ messageDelete }}</span>
					</button>
				</div>
			</div>
			<div class="column">
				<form #aForm="ngForm" [formGroup]="addPlayer" (ngSubmit)="addJugador(aForm)">
					<div class="table-container">
						<table class="table is-fullwidth is-hoverable">
							<thead>
								<tr>
									<th class="has-text-right">#</th>
									<th>Jugadores</th>
									<th>Fecha y hora</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let jugador of partido.jugadores; let row = index" [class.is-selected]="this.getCurrentUserId() == jugador.uuid" (click)="toggleIfApplies(row, jugador)">
									<td class="has-text-right">{{ row + 1 }}</td>
									<td>{{ jugador.nombre }}</td>
									<td *ngIf="selectedRow != row">{{ jugador.fecha.seconds * 1000 | date:'dd-MM-yyyy HH:mm' }}</td>
									<td *ngIf="selectedRow == row">
										<button type="button" class="button is-danger is-small" (click)="deletePlayer(row)" *ngIf="this.getCurrentUserId() == this.partido.owner || this.getCurrentUserId() == jugador.uuid">
											<span class="icon is-small">
												<i class="fas fa-times"></i>
											</span>
											<span>Eliminar</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="field has-addons" *ngIf="getCurrentUserId() && canAddPlayer()">
						<div class="control is-expanded">
							<input formControlName="nuevoJugador" class="input" type="text" placeholder="Agregar jugador...">
						</div>
						<div class="control">
							<button class="button is-info" type="submit" [disabled]="!addPlayer.valid">Agregar</button>
						</div>
					</div>
					<p class="help is-danger" *ngIf="alreadyWithThatName">Ya hay alguien con este nombre.</p>
				</form>
			</div>
		</div>
	</div>
</div>
