<h1 class="subtitle is-1 has-text-centered">¡Bienvenide al Organizador de Fútbol 5!</h1>
<div class="content has-text-centered">
	<p>Acá podrás crear partidos y sumarte a otros de manera rápida y sencilla. Te explico por qué es una buena aplicación:</p>
	<ul>
		<li>Puede que solucione de una vez por todas el problema del paralelismo de mandar mensajes por WhatsApp.</li>
		<li>Es una aplicación web desarrollada en Angular, no se necesita instalar nada.</li>
		<li>Recurre al uso de base de datos distribuidas para mejorar la latencia.</li>
		<li>Dedicado con amor (#nohomo) a mis amigos.</li>
		<li>Invulnerable a hackeos (está hosteado en Google)</li>
	</ul>
</div>

<p class="has-text-right">Qué lo disfruten 👌</p>
<p class="has-text-right">shiobi</p>
