<h3 class="subtitle is-3">Jugadores
    <button class="button is-pulled-right" (click)="modalOpen = true">
    <span class="icon">
    	<i class="fas fa-plus"></i>
    </span>
        <span>Añadir jugador</span>
    </button>
</h3>

<div class="table-container">
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th>Jugador</th>
            <th>Recurrente</th>
            <th>Estadísticas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!players">
            <td colspan="2"><i class="fas fa-spinner"></i> Cargando jugadores...</td>
        </tr>
        <tr *ngFor="let player of players; let i = index" [class.is-selected]="i === 0">
            <td>{{ player.name }}</td>
            <td>{{ player.recurrent ? 'Sí' : 'No' }}</td>
            <td>{{ stats[player.uuid]?.played || 0 }} jugados, {{ stats[player.uuid]?.won || 0 }} ganados ({{ stats[player.uuid]?.won | percentage:stats[player.uuid]?.played }})</td>
        </tr>
        </tbody>
    </table>
</div>

<app-create-player (closeModal)="modalOpen = false" *ngIf="modalOpen"></app-create-player>
